.app {
  min-height: 100vh;
  display: flex;
  justify-content: space-between;
  background-color: rgb(228, 228, 228);
}

.post {
  border: 1px solid black;
  height: 300px;
  width: 200px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
